{% extends "base.html" %}
{% block header %}
        <!--头图-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">Live Music Is A Lifestyle</div>
                <div class="masthead-heading text-uppercase">说说你看过的Live</div>
            </div>
        </header>
{% endblock %}
{% block content %}
<!-- FILTER -->
<!-- Control buttons -->
 <section class="page-section bg-light" id="portfolio">
            <div class="container">
                <div class="text-start">
                    <h3 class="section-heading">留下你的现场碎片</h3>
                    <br>
                    <h3 class="section-subheading text-muted">分享关于音乐现场的一切......</h3>
                </div>
                <div id="myBtnContainer">
                    <button class="btn btn-secondary active" onclick="filterSelection('all')">全部</button>
                    <button class="btn btn-secondary" onclick="filterSelection('anli')">安利👍避雷👎专区</button>
                    <button class="btn btn-secondary" onclick="filterSelection('story')">Livehouse故事会</button>
                    <button class="btn btn-secondary" onclick="filterSelection('bands')">乐队茶水间</button>
                    <button class="btn btn-secondary" onclick="filterSelection('experience')">经验大分享</button>
                    <button class="btn btn-secondary" onclick="filterSelection('pic')">摄影大师</button>
                    <button class="btn btn-secondary" onclick="filterSelection('fan')">骨灰级乐迷驻扎区</button>
                    <button class="btn btn-secondary" onclick="filterSelection('new')">livehouse小白集散地</button>
                </div>
     </div>
<!-- Topic lists -->
<br>
<br>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox-content forum-container container-filter">    
                <div class="forum-item filterDiv story new">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="forum-item-title">#我的livehouse初体验</div>
                            <div class="forum-sub-title">你第一次看的乐队演出是什么？</div>
                        </div>
                        <div class="col-md-1">
                            <a href="/liveforum/discuss1" class="btn btn-outline-primary">进来说说</a>
                        </div>
                    </div>
                </div>
                <div class="forum-item filterDiv anli experience">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="forum-item-title">#我心中的TOP3现场</div>
                            <div class="forum-sub-title">选出你的最佳现场list！</div>
                        </div>
                        <div class="col-md-1">
                            <a href="#" class="btn btn-outline-primary">进来说说</a>
                        </div>
                    </div>
                </div>
                <div class="forum-item filterDiv pic experience">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="forum-item-title">#看Live穿什么</div>
                            <div class="forum-sub-title">给你看看我的livehouse专属穿搭</div>
                        </div>
                        <div class="col-md-1 forum-info">
                            <a href="#" class="btn btn-outline-primary">进来说说</a>
                        </div>
                    </div>
                </div>
                <div class="forum-item filterDiv anli experience fan bands">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="forum-item-title">#迷幻摇滚乐队大种草</div>
                            <div class="forum-sub-title">快来分享你发现的新乐队，一起太空漫游</div>
                        </div>
                        <div class="col-md-1 forum-info">
                            <a href="#" class="btn btn-outline-primary">进来说说</a>
                        </div>
                    </div>
                </div>
                <div class="forum-item filterDiv story">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="forum-item-title">#不平凡的现场故事</div>
                            <div class="forum-sub-title">分享每一个打动你的平凡与不平凡</div>
                        </div>
                        <div class="col-md-1 forum-info">
                            <a href="#" class="btn btn-outline-primary">进来说说</a>
                        </div>
                    </div>
                </div>
                <div class="forum-item filterDiv pic">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="forum-item-title">给你看看我拍的现场</div>
                            <div class="forum-sub-title">当我在livehouse举起手机时，我在拍什么</div>
                        </div>
                        <div class="col-md-1 forum-info">
                            <a href="#" class="btn btn-outline-primary">进来说说</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
     </div>
    </section>
{% endblock %}